<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos Usuario</title>
</head>
<body>
    <div>
        <a href="/listaUsuarios">Go Home</a>
    </div>
    <div class="container">
        <h1>User {{usuario.id}}</h1>
        <p>Full name: {{usuario.first_name}} {{usuario.last_name}}</p>
        <p>Email: {{usuario.email}}</p>
        <p>Created on: {{usuario.created_at.strftime("%B %d, %Y")}}</p>
        <p>Last updated at: {{usuario.updated_at.strftime("%B %d %Y")}} at {{usuario.updated_at.strftime("%H:%M:%S %p")}}</p>
    </div>
    <form action="/editarUsuario/{{usuario.id}}">
        <input type="submit" value="Edit">
    </form>
    <form action="/eliminarUsuario/{{usuario.id}}">
        <input type="submit" value="Delete">
    </form>
</body>
</html>